<section class="page-section about" id="about">
  <div class="container text-center">
    <h2 class="section-title mb-5 text-orange fade-in delay-1">About Me</h2>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <p class="lead fs-5 fade-in delay-2">
          I am a fourth-year software engineering student and full-stack software developer with a passion for building innovative and user-friendly applications.
          My experience covers modern web technologies, such as
          <span class="highlight fade-in delay-3">React</span>,
          <span class="highlight fade-in delay-4">Angular</span>,
          <span class="highlight fade-in delay-5">Laravel</span>, and
          <span class="highlight fade-in delay-6">Node.js</span>,
          where I focus on creating scalable and efficient solutions.
          <br /><br />
          I also have strong experience and passion in
          <span class="highlight fade-in delay-7">software testing</span>, both manual and automation, ensuring that applications are reliable, high-quality, and deliver excellent user experiences.
          I enjoy tackling complex problems and turning ideas into digital products that deliver real impact.
        </p>
      </div>
    </div>
  </div>
</section>
