<section class="hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 mb-5 mb-lg-0 text-center text-lg-start fade-in">
        <h1 class="fw-bold mb-4">
          Hi, <br />
          I'm <span class="highlight">Mohammad Hussain</span>
        </h1>
        <h2 class="mb-5">
          <span class="highlight typing-text">Software Engineer</span>
        </h2>

        <div class="follow-me text-center fade-in-delay">
          <h4 class="fw-semibold mb-3">Follow Me</h4>
          <div class="social-icons mt-3">
            <a href="https://www.facebook.com/mohammad.hoseen.754" class="mx-3 fs-1"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/hmood.husain/" class="mx-3 fs-1"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/mohammad--hussain/" class="mx-3 fs-1"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Mohamad-husain" class="mx-3 fs-1"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 text-center fade-in-delay-2">
        <div class="code-box">
          <i class="fas fa-code fa-4x"></i>
          <h2 class="fw-bold mt-3">Hussain</h2>
        </div>
      </div>
    </div>
  </div>
</section>
